@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  /* ## Colors

    ### Primary */

  --softRed: hsl(10, 79%, 65%);
  --softRedHover: hsla(10, 79%, 65%, 0.63);
  --cyan: hsl(186, 34%, 60%);
  --cyanHover: hsla(186, 34%, 60%, 0.664);

  /* ### Neutral */

  --darkBrown: hsl(25, 47%, 15%);
  --mediumBrown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --veryPaleOrange: hsl(33, 100%, 98%);
}

/* ### Body Copy

- Font size: 18px
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--cream);
}

.section-container-main {
  margin-top: 30px;
  background-color: var(--cream);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-container-body {
  width: 100%;
}
.section-header {
  background-color: var(--softRed);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px 0px 15px 20px;
  color: white;
}
.section-header img {
  padding: 10px 20px 20px 0px;
}

.section-main {
  background-color: var(--veryPaleOrange);
  border-radius: 10px;
  padding: 20px 20px 0px 20px;
}
.section-main h1 {
  font-weight: 700;
}

.section-container-bar {
  height: auto;
  display: flex;
  justify-content: space-between;
}
.section-bar {
  height: 30vh;
  width: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0px;
}

.amount-active {
  background-color: black;
  color: white;

  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 5px;
}
.bar {
  border-radius: 5px;
  background-color: var(--softRed);
  width: 70%;
  margin: 0px auto;
  cursor: pointer;
}
.bar:hover {
  background-color: var(--softRedHover);
}
.bar.active {
  background-color: var(--cyan);
}
.bar.active:hover {
  background-color: var(--cyanHover);
}

/*************************************** Days %  **************************************/

.mon {
  height: 22%;
}

.tue {
  height: 38%;
}
.wed {
  height: 56%;
}
.thu {
  height: 35%;
}
.fri {
  height: 27%;
}
.sat {
  height: 47%;
}
.sun {
  height: 30%;
}

/* section footer */
.section-footer {
  padding: 20px 10px;
}

.section-footer h5 {
  font-size: 17px;
  color: var(--mediumBrown);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Small Devices, Tablets */
@media only screen and (min-width: 992px) {
  .section-container-main {
    background-color: var(--cream);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-container-body {
    width: 40%;
  }
  .section-bar {
    height: 30vh;
    width: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0px;
  }
  .section-main {
    background-color: var(--veryPaleOrange);
    border-radius: 10px;
    padding: 20px 50px 0px 50px;
  }
  .section-main h1{
    font-size: 35px;
  }
  .attribution {
    font-size: 16px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

